@import "tailwindcss";

@theme {
  /* Orange Colors */
  --color-orange-base: #eb6200;
  --color-orange-dark: #f36600;
  --color-orange-main: #fc7424;
  --color-orange-med: #ff7825;
  --color-orange-lighter: #ff973a;
  --color-orange-light: #ffa84e;
  --color-orange-lightest: #fabf86;

  /* Navy Grey Colors */
  --color-navygrey-dark: #161c25;
  --color-navygrey: #22252d;
  --color-navygrey-med: #3f4854;
  --color-navygrey-light: #787a7d;
  --color-navygrey-lighter: #a7a6aa;
  --color-navygrey-lightest: #d7dce1;

  /* Navy Colors */
  --color-navy-dark: #08162b;
  --color-navy: #2c3238;
  --color-navy-med: #5d687a;
  --color-navy-light: #a1b5d4;
  --color-navy-lighter: #aec3e4;
  --color-navy-lightest: #e8edf3;

  /* Grey Colors */
  --color-grey-dark: #242424;
  --color-grey: #424242;
  --color-grey-med: #9a9a9d;
  --color-grey-light: #d0d0d0;

  /* Font Families */
  --font-poppins: "Poppins", Helvetica, sans-serif;

  /* Font Sizes */
  --font-size-heading: 54px;
  --font-size-heading2: 27px;
  --font-size-small-description: 20px;

  /* Font Weights */
  --font-weight-heading: 500;
  --font-weight-description: 400;

  /* Line Heights */
  --line-height-normal: normal;
  --line-height-small-description: 27px;

  /* Letter Spacing */
  --letter-spacing-none: 0px;
}

@layer components {
  .btn {
    @apply px-[15px] py-[6px] font-poppins font-bold text-sm tracking-[0.15em]
      rounded-lg uppercase transition-all duration-200 active:scale-95;
  }
  
  /* Solid Orange Button */
  .btn-orange {
    @apply bg-orange-lighter text-navygrey-dark border border-navygrey-dark;
  }
  
  .btn-orange:hover {
    @apply bg-white text-orange-main border-orange-main cursor-pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  /* Outlined Orange Button */
  .btn-outline-orange {
    @apply bg-white text-orange-med border-[1px] border-orange-med;
  }
  
  .btn-outline-orange:hover {
    @apply bg-orange-med text-white cursor-pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  /* Dark Navy Grey Button */
  .btn-dark {
    @apply bg-grey text-orange-med border-[1px] border-orange-med;
  }
  
  .btn-dark:hover {
    @apply bg-grey-dark cursor-pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .shadow-custom {
    box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.5);
  }

  .shadow-hover {
    box-shadow: 3px 2px 6px 2px rgba(0, 0, 0, 0.7);
  }

  .shadow-orange {
    box-shadow: 3px 2px 6px 2px #ff7825;
  }

  @keyframes text-slider {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-25%);
    }
    45% {
      transform: translateY(-25%);
    }
    50% {
      transform: translateY(-50%);
    }
    70% {
      transform: translateY(-50%);
    }
    75% {
      transform: translateY(-75%);
    }
    95% {
      transform: translateY(-75%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-text-slider {
    animation: text-slider 10s ease-in-out infinite;
  }

  .hover-custom:hover {
    @apply bg-orange-lightest scale-110;
    box-shadow: 0 8px 8px 5px #ff973a;
  }

  .bg-why-choose-ulink-bg {
    background-image: url("./src/assets/images/landing-why-choose-ulink-bg.png");
    background-size: cover; /* or contain, or specific dimensions */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }

  .header {
    @apply font-heading text-[54px] text-navy-dark leading-normal;
  }
}

